/* Styles CSS ici */
body {
  font-family: "Century Gothic", sans-serif;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-group input[type="text"], 
.form-group input[type="password"] {
  width: calc(100% - 22px);
  padding: 12px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background: none;
  transition: border-bottom 0.3s ease;
}

.form-group input[type="text"]:focus, 
.form-group input[type="password"]:focus {
  border-bottom: 2px solid #3498db;
}

.form-group input[type="submit"] {
  width: 60%;
  padding: 12px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  background-color: #6226c3;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
  background-color: #9024e3;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 0.85em;
}

.forgot-password a {
  font-size: 0.8em;
  color: #888;
  text-decoration: none;
  transition: color 0.3s ease;
}

.form-group input[type="text"]::placeholder,
.form-group input[type="password"]::placeholder {
  /* Styles pour le texte du placeholder */
  color: #424141; /* Couleur du texte du placeholder */
  font-style: italic; /* Style de police (ex: italique) */
  font-family: "Century Gothic", sans-serif;
  opacity: 0.7; /* Opacité du texte */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #040404; /* Couleur du texte */
  text-align: center; /* Centrage du texte */
  padding: 20px 0; /* Espacement intérieur */
}

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 48px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn18 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.input {
  max-width: 200px;
  min-height: 20px;
  padding: 10px;
  outline: none;
  background: #e8e8e8;
  box-shadow: 5px 5px 17px #c8c8c8,
             -5px -5px 17px #ffffff;
  border: none;
  border-radius: 10px;
  transition: all .5s;
}

.input:focus {
  background: #e8e8e8;
  box-shadow: inset 5px 5px 17px #c8c8c8,
            inset -5px -5px 17px #ffffff;
}

